body{

    background-image: url(../images/bg-intro-desktop.png);
    background-color: rgba(255,121,120,0.9);
}
.main-text{

    font-family: 'Poppins', sans-serif;
    
}
.main-text__title{

    font-size: 50px;
    color:#ffffff;
}
.main-text__text{

    font-size: 16px;
    font-weight: 500;
    color:#ffffff;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
.try-title{

    text-align: center;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    letter-spacing: 0.4px;
    background-color: #5D54A3;
    padding: 20px 80px;
    border-radius: 10px;
}
